.Projects {
    flex: 0 1 auto;
    overflow-y: scroll;
}

.Scroll {
    margin: 3vw;
    overflow-x: hidden;
    overflow-y: hidden;
}

.Introduction {
    padding: calc(2vh) 0;
    font-size: calc(2vh);
}

.Card {
    padding: calc(2vh) 0;
}

.CardImage {
    height: calc(25vh + 10vw);
    object-fit: cover;
}
