.Home {
    height: calc(100vh - 56px);
    width: 100%;
    overflow-x: hidden;
}

.Panel {
    height: 100%;
    background-color: rgb(43, 52, 61);
	display: grid;
	align-items: center;
	justify-items: center;
}

.Panel > * {
	grid-area: 1/1/1/1;
}

.Strip {
    background-color: white;
    height: calc(0.5vh + 0.5vw);
    width: 100vw;
}

.PictureBackground {
    width: calc(16vh + 12.5vw);
    height: calc(16vh + 12.5vw);

    background-color: white;
    border-radius: 50%;
}

.Picture {
    position: relative;
    z-index: 1;
    width: calc(15vh + 11.5vw);
    height: calc(15vh + 11.5vw);
    top: calc(0.5vh + 0.5vw);
    left: calc(0.5vh + 0.5vw);
}

.Name {
    position: relative;
    z-index: 1;
    top: calc(-11vh - 9vw);
    color: white;
    font-size: calc(2.5vh + 2vw);
}

.Information {
    position: relative;
    z-index: 1;
    top: calc(11vh + 9vw);
    color: white;
    font-size: calc(1.5vh + 1vw);
    text-align: center;
}

.Body {
    padding: 3vw;
}