.Home {
    flex: 0 1 auto;
    width: 100%;
    overflow-x: hidden;
}

.Content {
    position: relative;
    height: calc(100vh - 56px);
    background-color: #1e3c65;
}

.Panel {
    height: 100%;
	display: grid;
	align-items: center;
	justify-items: center;
}

.Panel > * {
	grid-area: 1/1/1/1;
}

.Waves {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.Waves svg {
    position: relative;
    display: block;
    width: calc(118% + 1.3px);
    height: 413px;
}

.Waves .shape-fill {
    fill: #2A538C;
}

.Strip {
    background-color: white;
    height: calc(0.5vh + 0.5vw);
    width: 100vw;
}

.PictureBackground {
    width: calc(16vh + 12.5vw);
    height: calc(16vh + 12.5vw);

    background-color: white;
    border-radius: 50%;
}

.Picture {
    position: relative;
    z-index: 1;
    width: calc(15vh + 11.5vw);
    height: calc(15vh + 11.5vw);
    top: calc(0.5vh + 0.5vw);
    left: calc(0.5vh + 0.5vw);
}

.Name {
    position: relative;
    z-index: 1;
    top: calc(-11vh - 9vw);
    color: white;
    font-size: calc(2.5vh + 2vw);
}

.Information {
    position: relative;
    z-index: 1;
    top: calc(11vh + 9vw);
    color: white;
    font-size: calc(1.5vh + 1vw);
    text-align: center;
}

.Body {
    padding: 3vw;
}

.Contacts {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.ContactIcon {
    cursor: pointer;
    width: 25px;
    height: 25px;
    fill: rgba(240, 240, 240, 0.25);
}

.ContactIcon:hover {
    fill: rgba(240, 240, 240, 0.6);
}

.ToastContainer {
    position: relative;
}

.Toast {
    position: absolute;
    z-index: 1;
    width: fit-content;
    right: 0;
    top: 20px;
    min-width: 275px;
}