.Home {
    flex: 0 1 auto;
    width: 100%;
    min-height: 100%;
    overflow-x: hidden;
    background-color: #1e3c65;
}

.Content {
    position: relative;
    height: calc(100vh - 56px);

    animation: fadeIn 1s;
}

.Panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.Waves {
    z-index: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.Waves svg {
    z-index: 0;
    position: relative;
    display: block;
    width: calc(118% + 1.3px);
    height: 413px;
}

.Waves .shape-fill {
    fill: #2A538C;
}


.PictureBackground {
    width: calc(16vh + 12.5vw);
    height: calc(16vh + 12.5vw);
    display: grid;
    place-items: center;
    z-index: 1;
}

.Picture {
    width: 100%;
    height: 100%;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.8);
}

.Information {
    padding-top: 25px;
    z-index: 1;
    color: white;
    font-size: calc(1.5vh + 1vw);
    text-align: center;
}

.Body {
    padding: 3vw;
}

.Contacts {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.ContactIcon {
    cursor: pointer;
    width: 25px;
    height: 25px;
    fill: rgba(240, 240, 240, 0.25);
}

.ContactIcon:hover {
    fill: rgba(240, 240, 240, 0.6);
}

.ToastContainer {
    position: relative;
}

.Toast {
    position: absolute;
    z-index: 1;
    width: fit-content;
    right: 0;
    top: 20px;
    min-width: 275px;
}

.Emoji {
    animation-name: wave-animation;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
    display: inline-block;
    padding-right: 10px;
}

@keyframes wave-animation {
    0% {
      transform: rotate(0deg);
    }
    15% {
      transform: rotate(14deg);
    }
    30% {
      transform: rotate(-8deg);
    }
    40% {
      transform: rotate(14deg);
    }
    50% {
      transform: rotate(-4deg);
    }
    60% {
      transform: rotate(10deg);
    }
    70% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

  @keyframes fadeIn {
    0% {
        opacity: 0;
        z-index: 1;
    }
    100% {
        opacity: 1;
        z-index: 1;
    }
  }